################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*.ide
*.ide-shm
*.ide-wal
/.vs/Semaphore/v16/TestStore/0
